Django==5.2.17
asgiref==3.12.1
django-cors-headers==4.9.0
django-nested-admin==4.1.6
djangorestframework==3.18.1
et_xmlfile==2.0.0
gunicorn==26.2.0
openpyxl==3.1.5
pillow==12.3.0
psycopg2-binary==2.9.12
python-decouple==3.8
python-monkey-business==1.1.0
sqlparse==0.6.0
tzdata==2026.3
